doctype html
// Strata by HTML5 UP
// html5up.net | @n33co
// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
// Edit by Hao
html(lang="#{DEFAULT_LANG}")
  head
    block head
      title
        block title
          = SITENAME
      meta(http-equiv="content-type" content="text/html; charset=utf-8")
      script(src="#{SITEURL}/js/jquery.min.js")
      script(src="#{SITEURL}/js/jquery.poptrox.min.js")
      script(src="#{SITEURL}/js/skel.min.js")
      script(src="#{SITEURL}/js/init.js")
      noscript
        link(rel="stylesheet" href="#{SITEURL}/css/skel.css")
        link(rel="stylesheet" href="#{SITEURL}/css/style.css")
        link(rel="stylesheet" href="#{SITEURL}/css/style-xlarge.css")

  body#top
    div
      nav#nav
        ul.container
          li
            a(href="#{SITEURL}/") Home
          for cat, null in categories
            li
              a(href="#{SITEURL}/#{cat.url}")= cat
          li
            a(href="#{SITEURL}/archives.html") Archives
          for p in PAGES
            li
              a(href="#{SITEURL}/#{p.url}")= p.title
    //- header
    header#header
      a.image.avatar(href="#")
        img(src="/images/me.jpg" alt="")
      h1
        strong I'm Hao
        | , a fan of programming.
        br
        | Welcome to my blog,
        br
        | where I keep my ideas and thoughts.
        br

    #main
      block content

      //- footer
    footer#footer
      ul.icons
        li
          a.icon.fa-linkedin(href="http://www.linkedin.com/pub/hao-cen/80/bbb/91a")
            span.label Linkedin
        li
          a.icon.fa-github(href="https://github.com/cenhao")
            span.label Github
      ul.copyright
        li &copy; Hao Cen
        li Design: 
          a(href="http://html5up.net") HTML5 UP
        li Powered by: 
          a(href="http://blog.getpelican.com") Pelican
